PROMETHEUS_VERSION=
PROMETHEUS_RETENTION=
PROMETHEUS_RETENTION_SIZE=
ALERTMANAGER_VERSION=
GRAFANA_VERSION=
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
GRAFANA_ROOT_URL=
NODE_EXPORTER_VERSION=
CADVISOR_VERSION=
BLACKBOX_VERSION=
VMWARE_EXPORTER_VERSION=
SNMP_EXPORTER_VERSION=
IPMI_EXPORTER_VERSION=
FORTIGATE_EXPORTER_VERSION=
